body {
    background-color: darkred;
}
h1 {
    text-align: center;
    color: White;
}

#imgClickAndChange {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    cursor: pointer;
}